[Desktop Entry]
Name=Gently
Comment=Modified by l4k1
X-KDE-PluginInfo-Author=Scnd101
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Gently
X-KDE-PluginInfo-Version=3.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
