[Desktop Entry]
Name=Gently-Dark-Aurorae-6
Comment=Gently-Dark-Aurorae-6 by l4k1
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Gently-Dark-Aurorae-6
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
