[Desktop Entry]
Comment=Gently Look And Feel
Name=Gently
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Gently
X-KDE-PluginInfo-Version=19.7
X-KDE-PluginInfo-Website=https://github.com/L4ki/Gently
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1293162,kns://plasma-themes.knsrc/api.kde-look.org/1293160,kns://aurorae.knsrc/api.kde-look.org/1293165,kns://aurorae.knsrc/api.kde-look.org/1365310,kns://icons.knsrc/api.kde-look.org/1361468,kns://icons.knsrc/api.kde-look.org/1361471,kns://icons.knsrc/api.kde-look.org/2119129,kns://icons.knsrc/api.kde-look.org/1281798,kns://wallpaper.knsrc/api.kde-look.org/1365306,kns://wallpaper.knsrc/api.kde-look.org/1365304,kns://wallpaper.knsrc/api.kde-look.org/1184925,kns://sddmtheme.knsrc/api.kde-look.org/1365307
